.search-box-container {
    display:flex;
    align-items:center;
    justify-content:flex-start;
    border:none;
    flex-wrap:wrap;
    grid-gap: .5rem;
    padding: 1rem;
    background-color:#fff;
    border-radius:5px;
    padding-bottom: 1rem;

    max-height: 10rem;
    overflow: auto;

    border-bottom: 1px solid #333;
}

.selected-item-list {
    display:flex;
    grid-gap: .5rem;
    align-items:center;
    justify-content:flex-start;
    flex-wrap:wrap;
}

.items__search {
    flex-grow: 1;
    min-width: 10rem;
    height: 3rem;
    border:0;
    outline:none;
} 