.list-item__container {
    display: flex;
    grid-gap: 2rem;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgb(221, 218, 218);

    cursor: pointer;
}

.list-item__text {
    text-transform: capitalize;

    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}

.show-color {
    background-color: #5FB4F9;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.hide-color {
    background-color: #e8edf1;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}