.selected-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: .5rem;

    font-size: 1.5rem;
    font-weight: 500;

    cursor: pointer;

    height: 3.5rem;
    border: 1px solid #333;
    border-radius: 2px;
    padding: .5rem; 
    background-color: #178BE9;
    color: #fff;

    text-transform: capitalize;
    transition: all .4s;
}

.remove-sign {
    font-size: 2.5rem;
    margin-top: -.5rem;
}

.selected-item:hover {
    background-color: red;
}